<!DOCTYPE html>
<html lang="en">

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="footer.css">

<footer>
  <div class="firstFoot">
        <div class="infoSec">
            <img src="footerlogo.png" alt="">
            <p>TechKare connects you with reliable tech repair and accessory stores, providing accurate information on timings, locations, prices, and contact details. Simplify your search and get the best tech services effortlessly.</p>
            </div>
        <div class="linkSec">
            <h3>Useful Links</h3>
            <ul>
                <li>Home</li>
                <li>About us</li>
                <li>Services</li>
                <li>Terms of service</li>
                <li>Privacy policy</li>
            </ul>
        </div>
        <div class="contactSec">
            <h3>Contact Us</h3>
            <p>
                Pune,
                Maharashtra,
                India <br>
                Phone: +91 9359731392 <br>
                Email: techkare.official@gmail.com
            </p>
        </div>
        <div class="newsSec">
            <h3>Our Newsletter</h3>
            <p>Subscribe to our newsletter to get the latest updates on tech repair tips, exclusive offers, and news about the best tech repair and accessory stores in your area. Don't miss out on staying connected with the best tech solutions!</p>
            <br>
            <form action="">
                <input type="email" name="" placeholder="example@email.com"><button type="submit">Subscribe</button>
            </form>
        </div>
  </div>
  <div class="secFoot">
    <p>© Copyright NewBiz. All Rights Reserved</p>
    <br>
    <p>A Project by <a href="">IMPERIUM</a></p>
  </div>
</footer>