body {
    font-family: Arial, sans-serif;
    background-color: lavender;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

label {
    margin-top: 10px;
}

.input-container {
    position: relative;
}

input {
    width: 100%;
    padding: 10px;
    padding-right: 40px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input::placeholder {
    color: #888;
}

input:focus {
    outline: none;
    border-color: #4CAF50;
}

.input-container i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
}

button {
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #013b7d; 
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #012b5d; 
}

a {
    color: #013b7d; 
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #012b5d; 
}