<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="pricing.css">
  <link href="logoimg1.png" rel="icon">
  <title>Techcare | Pricing</title>
</head>

<body>
  <%- include('includes/nav') %>
  <div class="pricing">
     <h1>Pricing</h1>
        <div class="priceContainer">
            <div class="priceCard">
                <p class="price">
                ₹ 0 <span>(Basic)</span>
                </p>
                <ul class="lists">
                <li class="list">
                    <span class="icon">1x</span>
                    <span> Search Visibility </span>
                </li>
                <li class="list">
                    <img src="x.svg" alt="" class="icon">
                    <span> Trust Badge </span>
                </li>
                <li class="list">
                    <img src="x.svg" alt="" class="icon">
                    <span> Verified Badge </span>
                </li>
                <li class="list">
                    <img src="ch.svg" alt="" class="icon">
                    <span> TechKare Rating </span>
                </li>
                <li class="list">
                    <img src="x.svg" alt="" class="icon">
                    <span> Website Banner </span>
                </li>
                <li class="list">
                    <img src="ch.svg" alt="" class="icon">
                    <span> Dedicate Customer Support </span>
                </li>
                <li class="list">
                    <span class="icon">0%</span>
                    <span> Delievery(%off) </span>
                </li>
                </ul>
                <a href="#" class="action">
                Get started
                </a>
            </div>
            <div class="priceCard">
                <p class="price">
                ₹ 99 <span>(Standard)</span>
                </p>
                <ul class="lists">
                <li class="list">
                    <span class="icon">1x</span>
                    <span> Search Visibility </span>
                </li>
                <li class="list">
                    <img src="x.svg" alt="" class="icon">
                    <span> Trust Badge </span>
                </li>
                <li class="list">
                    <img src="x.svg" alt="" class="icon">
                    <span> Verified Badge </span>
                </li>
                <li class="list">
                    <img src="ch.svg" alt="" class="icon">
                    <span> TechKare Rating </span>
                </li>
                <li class="list">
                    <img src="ch.svg" alt="" class="icon">
                    <span> Website Banner </span>
                </li>
                <li class="list">
                    <img src="ch.svg" alt="" class="icon">
                    <span> Dedicate Customer Support </span>
                </li>
                <li class="list">
                    <span class="icon">5%</span>
                    <span> Delievery(%off) </span>
                </li>
                </ul>
                <a href="#" class="action">
                Get started
                </a>
            </div>
            <div class="priceCard">
                <p class="price">
                ₹ 199 <span>(Premium)</span>
                </p>
                <ul class="lists">
                <li class="list">
                    <span class="icon">2x</span>
                    <span> Search Visibility </span>
                </li>
                <li class="list">
                    <img src="x.svg" alt="" class="icon">
                    <span> Trust Badge </span>
                </li>
                <li class="list">
                    <img src="ch.svg" alt="" class="icon">
                    <span> Verified Badge </span>
                </li>
                <li class="list">
                    <img src="ch.svg" alt="" class="icon">
                    <span> TechKare Rating </span>
                </li>
                <li class="list">
                    <img src="ch.svg" alt="" class="icon">
                    <span> Website Banner </span>
                </li>
                <li class="list">
                    <img src="ch.svg" alt="" class="icon">
                    <span> Dedicate Customer Support </span>
                </li>
                <li class="list">
                    <span class="icon">7%</span>
                    <span> Delievery(%off) </span>
                </li>
                </ul>
                <a href="#" class="action">
                Get started
                </a>
            </div>
            <div class="priceCard">
                <p class="price">
                ₹ 999 <span>(Pro)</span>
                </p>
                <ul class="lists">
                <li class="list">
                    <span class="icon">3x</span>
                    <span> Search Visibility </span>
                </li>
                <li class="list">
                    <img src="ch.svg" alt="" class="icon">
                    <span> Trust Badge </span>
                </li>
                <li class="list">
                    <img src="ch.svg" alt="" class="icon">
                    <span> Verified Badge </span>
                </li>
                <li class="list">
                    <img src="ch.svg" alt="" class="icon">
                    <span> TechKare Rating </span>
                </li>
                <li class="list">
                    <img src="ch.svg" alt="" class="icon">
                    <span> Website Banner </span>
                </li>
                <li class="list">
                    <img src="ch.svg" alt="" class="icon">
                    <span> Dedicate Customer Support </span>
                </li>
                <li class="list">
                    <span class="icon">10%</span>
                    <span> Delievery(%off) </span>
                </li>
                </ul>
                <a href="#" class="action">
                Get started
                </a>
            </div>
        </div>
  </div>
  <%- include('includes/footer') %>
</body>

</html>